
@tailwind base;
@tailwind components;
@tailwind utilities;


@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}


.input {
  @apply w-full bg-[#2d2154]/50 border-2 border-[#6d5a9e]/60 rounded-lg py-2 pl-10 pr-4 text-slate-200 placeholder-slate-400 focus:border-[#533993];
}

.auth-input-icon {
  @apply absolute left-3 top-1/2 -translate-y-1/2 text-slate-400 size-5;
}

.auth-input-label {
  @apply block text-sm font-medium text-slate-300 mb-2;
}

.auth-badge {
  @apply inline-flex items-center px-3 py-1 text-xs font-medium rounded-full
    bg-[#533993]/20 text-[#c4b1f2] border border-[#533993]/40;
}

.auth-btn {
  @apply w-full bg-[#533993] text-white rounded-lg py-2.5 font-medium
    hover:bg-[#6245ad] focus:ring-2 focus:ring-[#533993] transition-colors;
}

.auth-link {
  @apply px-4 py-2 inline-block bg-[#533993]/15 rounded-lg text-[#b69bea] border border-[#533993]/40
    hover:bg-[#533993]/25 hover:text-white text-sm transition-all duration-300;
}


/* @keyframes loader {
  0% {
    transform: translateX(-120%);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(250%);
  }
} */

/* @media (max-width: 768px) {
  .animate-border {
    animation: none;
  }
} */

